body {
	font-family: arial;
	background-color: #fffae6;
	text-align: center;
    margin: 0;
    padding-bottom: 4em;

    line-height: 1.5em;
}

/* Mini nav bar*/
.menuInput {
	display: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: auto;
}
.menuLabel {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6em 0;

    background-color: #262626;
    color: #fffae6;
    font-size: 24px;
    text-align: center;
    
    cursor: pointer;
    z-index: 999;
    transition: all .75s ease;
}
.nav-columns {
    display: block;
    background-color:#fffae6;

    position: fixed;
    bottom: -10em;
    
    width: 100%;
    
    z-index: 980;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
    font-weight: bold;

    transition: all .75s ease;
}
.menuInput:checked ~ .nav-columns {
    bottom: 3.3em;
}
li {
    border: 5px solid black;
    border-width: 5px 0 0 0;
}
li a {
    text-decoration: none;
}
a {
	color: orangered;
	display: block;
	padding: 6px 12px;
}
a:hover {
	color: #ff7b29;
}

/* Name Box */
.name-box {
    width: 100%;
    padding: 1em 0;
    background: #262626;
}
.name {
    margin: 0 auto;

	font-size: 24px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    color: white; 
    text-shadow: 3px 3px #4d4d4d;

	animation: typing 5s steps(60, end) infinite alternate;
}
@keyframes typing {
	from{ width: 0; }
	to{ width: 100%; }
}

/* Sections */
.social-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.social-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    font-size: 32px;
}

.section {
    margin: auto;
    width: 85%;
}

.section a {
    padding: 0;
}

.privacy-policy {
    text-align: left;
    width: 85%;
    margin: auto;
}

.privacy-policy a {
    display: inline-block;
    padding: 0;
}

/* Game section*/
.game-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.game {
    padding: 2em 1em;
    background-color: #1f1f1f;
    border-radius: 25px;
}
.game-icon {
    width: 128px;
    border-radius: 25px;
}
.game-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.game-description {
    margin: auto;
    width: 85%;
    padding: 10px;

    text-align: left;
    color: white;
}
.download-links {
    width: 75%;
    margin: auto;
}
.game-download {
    width: 100%;
}

@media (min-width: 500px) {
    .download-links {
        width: 100%;
        margin: auto;
        margin-top: 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .game-download {
        width: 75%;
    }
}

@media (min-width: 600px) {
    .name-box {
        padding: 1.5em 0;
    }
    .name {
        font-size: 32px;
    }

    .social-bar {
        display: initial;
        position: fixed;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      
    .social-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        font-size: 20px;
    }

    .menuLabel {
        display: none;
    }
    .nav-columns {
        position: initial;
        bottom: initial;
    }
    ul {
        width: 75%;
        margin: 10px auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        grid-column-gap: 5px;
    }
    li {
        padding: 10px 0;

        background-color: none;
        border: none;
    }
    li a {
        text-decoration: underline;
    }

    .section {
        width: 75%;
    }

    .game-icon {
        width: 156px;
        border-radius: 25px;
    }
}


@media (min-width: 850px) {
    .name {
        line-height: 2em;
	    font-size: 42px;
    }

    ul {
        width: 65%;
        grid-column-gap: 25px;
    }

    .game-section {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }
    .game-description {
        margin: auto;
        width: 75%;
    }
    .game-download {
        width: 95%;
    }
}

@media (min-width: 1100px) {
    .name {
	    font-size: 48px;
    	animation: typing 8s steps(100, end) infinite alternate;
    }

    ul {
        width: 45%;
        grid-column-gap: 25px;
    }
    
    .section {
        width: 65%;
    }
}