@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?xk4etl');
    src:  url('fonts/icomoon.eot?xk4etl#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?xk4etl') format('truetype'),
      url('fonts/icomoon.woff?xk4etl') format('woff'),
      url('fonts/icomoon.svg?xk4etl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}
.icon-home:before {
    content: "\e901";
}
.icon-gamepad:before {
    content: "\e900";
}
.icon-info:before {
    content: "\ea0c";
}
.icon-question-circle-o:before {
    content: "\e902";
}
.icon-appleinc:before {
    content: "\eabe";
}
.icon-android:before {
    content: "\eac0";
}

body {
	font-family: arial;
	background-color: #fffae6;
	text-align: center;
    margin: 0;

    line-height: 1.5em;
}

/* Mini nav bar*/
.menuInput {
	display: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: auto;
}
.menuLabel {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6em 0;

    background-color: #262626;
    color: #fffae6;
    font-size: 24px;
    text-align: center;
    
    cursor: pointer;
    z-index: 999;
    transition: all .75s ease;
}
.nav-columns {
    display: block;
	background-color:#fffae6;

    position: fixed;
    bottom: -10em;
    
    width: 100%;
    
    z-index: 980;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
    font-weight: bold;

    transition: all .75s ease;
}
.menuInput:checked ~ nav {
	bottom: 3.5em;
}
li {
	border: 5px solid black;
	border-width: 5px 0 0 0;
}
li a {
    text-decoration: none;
}
a {
	color: orangered;
	display: block;
	padding: 6px 12px;
}
a:hover {
	color: #ff7b29;
}

/* Name Box */
.name-box {
    width: 100%;
    padding: 1em 0;
    background: #262626;
}
.name {
    margin: 0 auto;

	font-size: 24px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    color: white; 
    text-shadow: 3px 3px #4d4d4d;

	animation: typing 5s steps(60, end) infinite alternate;
}
@keyframes typing {
	from{ width: 0; }
	to{ width: 100%; }
}

/* Sections */
.section {
    padding: 1em 0;
    margin: auto;
    width: 75%;
    
    background-color: #262626;
    color: white;
    padding: 1em;
    border-radius: 25px;
}

/* Game section*/
.game-icon {
    width: 128px;
    border-radius: 25px;
}
.game-description {
    text-align: left;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black
}
.game-download {
    width: 85%;
}

@media (min-width: 650px) {

}

@media (min-width: 1050px) {

}