body {
	font-family: arial;
	background-color: #fffae6;
	text-align: center;
    margin: 0;
    padding-bottom: 2em;

    line-height: 1.5em;
}

/* Mini nav bar*/
.menuInput {
	display: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: auto;
}
.menuLabel {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.6em 0;

    background-color: #262626;
    color: #fffae6;
    font-size: 24px;
    text-align: center;
    
    cursor: pointer;
    z-index: 999;
    transition: all .75s ease;
}
.nav-columns {
    display: block;
	background-color:#fffae6;

    position: fixed;
    bottom: -10em;
    
    width: 100%;
    
    z-index: 980;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
    font-weight: bold;

    transition: all .75s ease;
}
.menuInput:checked ~ .nav-columns {
	bottom: 3.5em;
}
li {
	border: 5px solid black;
	border-width: 5px 0 0 0;
}
li a {
    text-decoration: none;
}
a {
	color: orangered;
	display: block;
	padding: 6px 12px;
}
a:hover {
	color: #ff7b29;
}

/* Name Box */
.name-box {
    width: 100%;
    padding: 1em 0;
    background: #262626;
}
.name {
    margin: 0 auto;

	font-size: 24px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    color: white; 
    text-shadow: 3px 3px #4d4d4d;

	animation: typing 5s steps(60, end) infinite alternate;
}
@keyframes typing {
	from{ width: 0; }
	to{ width: 100%; }
}

/* Sections */
.section {
    padding: 1em 0;
    margin: auto;
    width: 75%;
    
    background-color: #262626;
    color: white;
    padding: 1em;
    border-radius: 25px;
}

.privacy-policy {
    text-align: left;
    width: 85%;
    margin: auto;
}

.privacy-policy a {
    display: inline-block;
    padding: 0;
}

.section-title {
    font-weight: bold;
}

/* Game section*/
.game-icon {
    width: 128px;
    border-radius: 25px;
}
.game-description {
    margin: auto;
    width: 85%;
    padding: 10px;

    text-align: left;
    text-shadow:
        1px 1px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black
}
.game-download {
    width: 85%;
}

@media (min-width: 500px) {
    .game-download {
        width: 75%;
    }
}

@media (min-width: 600px) {
    .name-box {
        padding: 1.5em 0;
    }
    .name {
	    font-size: 32px;
    }

    .menuLabel {
        display: none;
    }
    .nav-columns {
        position: initial;
        bottom: initial;
    }
    ul {
        width: 75%;
        margin: 10px auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        grid-column-gap: 5px;
    }
    li {
        padding: 10px 0;

        background-color: none;
        border: none;
    }
    li a {
        text-decoration: underline;
    }

    .section {
        width: 65%;
    }

    .game-icon {
        width: 156px;
        border-radius: 25px;
    }
    .game-download {
        width: 60%;
    }
}


@media (min-width: 850px) {
    .name {
        line-height: 2em;
	    font-size: 42px;
    }

    ul {
        width: 65%;
        grid-column-gap: 25px;
    }

    .section {
        width: 50%;
    }

    .game-description {
        margin: auto;
        width: 75%;
    }
    .game-download {
        width: 50%;
    }
}

@media (min-width: 1100px) {
    .name {
	    font-size: 48px;
    	animation: typing 8s steps(100, end) infinite alternate;
    }

    ul {
        width: 45%;
        grid-column-gap: 25px;
    }

    .section {
        width: 30%;
    }
}